<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md- offset-md-3">
        <mat-card>
        <div class="container text-center">
          <img src="../../../assets/examlogo.jpg" alt="" />
          <h1 class="text-center">Sign In..!!</h1>
          {{signInData | json}}
          <form (ngSubmit)="formSubmit()">
            <!-- username -->
            <mat-form-field class="fullwidth" appearance="outline">
              <mat-label>User Name</mat-label>
              <input [(ngModel)]="signInData.userName" name="UserName" matInput placeholder="Enter UserName" />
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <!-- password -->
            <mat-form-field class="fullwidth" appearance="outline">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="signInData.password" name="Password" matInput placeholder="Enter Password" />
              <mat-hint>Hint</mat-hint>
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-stroked-button color="primary">
                SignIn
              </button>
              <button
                style="margin-left: 10%"
                mat-stroked-button
                color="accent"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
    </mat-card>
      </div>
    </div>
  </div>
</div>
