<!-- <p>navbar works!</p> -->
<mat-toolbar class="back">
  <a
  [routerLink]="''"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon><span class="material-symbols-outlined">
      menu_book
      </span></mat-icon>
  </a>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  <a
  [routerLink]="'/signin'"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>login</mat-icon>
  </a>
  <a
  [routerLink]="'/signup'"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon class="ml10">how_to_reg</mat-icon>
  </a>
</mat-toolbar>
